<!-- price_list_app/templates/price_list_app/home.html -->

{% extends 'price_list_app/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="my-4">Nanosun Price List Generator</h1>
    <p class="lead">Generate your customized price lists quickly and easily.</p>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! (<a href="{% url 'logout' %}">Logout</a>)</p>
        <a class="btn btn-primary btn-lg" href="{% url 'select_products' %}" role="button">Get Custom Pricelist</a>
        <a class="btn btn-primary btn-lg" href="{% url 'generate_promotion_pricelist' %}" role="button">Get Promotion Pricelist</a>
    {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'social:begin' 'google-oauth2' %}" role="button">Login with Google</a>
    {% endif %}
</div>
{% endblock %}
