{% extends 'price_list_app/base.html' %}

{% block title %}Select Products{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">Select Product Types, Warehouse, and Brands</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="id_configurations">Saved Configurations:</label>
                            {{ form.configurations }}
                            <button type="submit" name="delete_config" class="btn btn-danger">Delete</button>
                            <button type="submit" name="modify_config" class="btn btn-warning">Modify</button>
                            <button type="submit" name="generate_config" class="btn btn-success">Generate</button>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_groups">Product Types:</label>
                                    <div>
                                        <button type="button" class="btn btn-primary1" id="select-all-groups">Select All</button>
                                        <button type="button" class="btn btn-primary2" id="unselect-all-groups">Unselect All</button>
                                    </div>
                                    <div class="form-check mt-3">
                                        {% for checkbox in form.groups %}
                                        <div class="form-check large-checkbox">
                                            <label class="form-check-label large-checkbox-label">
                                                {{ checkbox.tag }} {{ checkbox.choice_label }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check mt-3 mb-3">
                                        {{ form.select_all_brands }} <label for="id_select_all_brands">Select All Brands</label>
                                    </div>
                                    <button type="button" class="btn btn-primary1 mb-3" data-toggle="collapse" data-target="#brands-collapse" aria-expanded="false" aria-controls="brands-collapse">
                                        Show Brands
                                    </button>
                                    <div id="brands-collapse" class="collapse mt-3">
                                        <label for="id_brands">Brands:</label>
                                        <div>
                                            <button type="button" class="btn btn-primary1" id="select-all-brands">Select All</button>
                                            <button type="button" class="btn btn-primary2" id="unselect-all-brands">Unselect All</button>
                                        </div>
                                        <div class="form-check mt-3">
                                            {% for checkbox in form.brands %}
                                            <div class="form-check large-checkbox">
                                                <label class="form-check-label large-checkbox-label">
                                                    {{ checkbox.tag }} {{ checkbox.choice_label }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group row mt-3 mb-3">
                                        <label for="id_warehouse" class="col-sm-4 col-form-label">Warehouse:</label>
                                        <div class="col-sm-8">
                                            {{ form.warehouse }}
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label for="id_num_prices" class="col-sm-4 col-form-label">Number of Prices:</label>
                                        <div class="col-sm-8">
                                            {{ form.num_prices }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mt-3 mb-3">
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary1">Next</button>
                                <form method="post">
                                    {% csrf_token %}
                                    <button type="submit" name="generate_promotion_pricelist" class="btn btn-secondary">Generate Promotion Pricelist</button>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectAllGroupsButton = document.getElementById('select-all-groups');
        const unselectAllGroupsButton = document.getElementById('unselect-all-groups');
        const groupCheckboxes = document.querySelectorAll('input[name="groups"]');

        selectAllGroupsButton.addEventListener('click', function() {
            groupCheckboxes.forEach(function(checkbox) {
                checkbox.checked = true;
            });
        });

        unselectAllGroupsButton.addEventListener('click', function() {
            groupCheckboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });
        });

        const selectAllBrandsCheckbox = document.querySelector('input[name="select_all_brands"]');
        const selectAllBrandsButton = document.getElementById('select-all-brands');
        const unselectAllBrandsButton = document.getElementById('unselect-all-brands');
        const brandCheckboxes = document.querySelectorAll('input[name="brands"]');

        selectAllBrandsButton.addEventListener('click', function() {
            brandCheckboxes.forEach(function(checkbox) {
                checkbox.checked = true;
            });
        });

        unselectAllBrandsButton.addEventListener('click', function() {
            brandCheckboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });
        });

        selectAllBrandsCheckbox.addEventListener('change', function() {
            const isChecked = this.checked;
            if (isChecked) {
                brandCheckboxes.forEach(function(checkbox) {
                    checkbox.checked = true;
                    checkbox.disabled = true;
                });
            } else {
                brandCheckboxes.forEach(function(checkbox) {
                    checkbox.disabled = false;
                });
            }
        });

        // Disable brand checkboxes if "Select All Brands" is checked
        if (selectAllBrandsCheckbox.checked) {
            brandCheckboxes.forEach(function(checkbox) {
                checkbox.checked = true;
                checkbox.disabled = true;
            });
        }
    });
</script>
{% endblock %}
